.box{
    width: 234px;
    height: 234px;
    color: white;
    background-color: blue;
    box-shadow: 0 2px 3px 0 red;
}
.content{
    width: 100px;
    height: 300px;
    color: wheat;
    border: 1px solid gold;
    background-color: brown;
}
.lol{
    width: 300px;
    height: 500px;
    border: none;
    background-color: rgba(197, 192, 192, 0.304);
    margin: 0 auto;
    border-radius: 20px;
}
.lol button{
    width: 200px;
    height: 30px;
    border: none;
    background-color: rgb(9, 9, 9);
    border-radius: 10px;
    margin-top: 420px;
    margin-left: 15%;
    color: brown;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}
.lol:hover{
    box-shadow: 2px 2px 3px 3px gold;
}
button:hover{
    box-shadow: 1px 2px 3px 1px red;
}